package main

import (
	"time"

	extensionsdk "github.com/nuzur/extension-sdk"
	"{{.ModulePath}}/server"
	"go.uber.org/fx"
)

func main() {
	fx.New(
		fx.StopTimeout(45 * time.Second),
		extensionsdk.Module,
		fx.Provide(
			server.New,
		),
	).Run()
}
